body
  img
    max-width 100%
    margin 0 auto
    display block

.main
  padding 0 20px

.footer
  max-width 1431px
  padding 0 20px
  margin 0 auto
  text-align right
  line-height 24px
  color #bfbfbf
  a
    color #ff5400
